.controls {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(4, auto);
}

 .input {
	 grid-column: 1 / -1;
	 height: 40ch;
 }
 
.control {
	grid-row: -4 / -3;
}

.info {
	grid-row: -3 / -2;
	grid-column: 1 / -1;
	border: solid 1px;
}

.examples {
	grid-row: -2 / -1;
}